<img src="https://raw.githubusercontent.com/ITBA-Python/Certificacion-Profesional-Python/main/assets/clase2/Headers%20c%C3%A1talogo_Mesa%20de%20trabajo%201%20copia%2044.jpg" width="800">



# Certificación Avanzada en Deep Learning
# Introducción a Python
# TP Integrador

El objetivo del trabajo es integrar los conocimientos vistos en las primeras clases y dejar preparada una base para realizar algunos trabajos durante el curso de Probabilidad, Estadística y Álgebra en Python.  




<img src="https://raw.githubusercontent.com/ITBA-Python/Certificacion-Profesional-Python/main/assets/clase2/LOGOTIPO_sin_fondo_positivo_sin_bajada.png" width="400">

# Objetivo del TP Integrador

Se deberá armar un sistema sencillo de Alta/Baja de usuarios y trabajadores de un sistema ficticio de streaming de películas.   

Se deberán proveer las siguientes funcionalidades: 

- Alta/Baja de Usuario
- Alta/Baja de Trabajador
- Alta/Baja de Películas
- Alta/Baja de Calificaciones
- Estadísticas por Usuario/Película: Calificación promedio de usuario, Calificación promedio por película.  

# Datos

Los datos serán almacenados en memoria en 5 Data Frames distintos, los cuales contendrán la información vinculada a:

- Personas: Id, Fecha de Nacimiento, Género, Código Postal.
- Usuarios (Personas): Id(Personas), Ocupación, Fecha de Alta.
- Trabajadores (Personas): Id(Personas), Fecha de Alta, Puesto, Categoría, Horario de Trabajo.  
- Películas: Nombre, Año, Género(s), id.  
- Scores: Usuario (Id), Película (Id), Puntuación, Timestamp

Se proveen 5 archivos csv con información para inicializar cada uno de estos 5 DataFrames. 

Los datos fueron generados a partir del dataset provisto en https://grouplens.org/datasets/movielens/100k/ y procesados por la cátedra para mayor facilidad de los alumnos.

# Implementación

Para dar de alta alguna de las entidades mencionadas anteriormente (Persona, Usuario, Trabajador, Película, Score) se deberá instanciar un objeto vinculado a una clase correspondiente (Persona, Usuario, Trabajador, Película, Score) con la información pertinente la entidad. El siguiente es un código de referencia para definir la clase "Pelicula" y a partir del mismo dar de alta o borrar películas:

In [76]:
class Pelicula:
    def __init__(self, nombre, fecha_estreno, generos, id = None):
        self.nombre = nombre
        self.fecha_estreno = fecha_estreno
        self.generos = generos
        self.id = id
    def __repr__(self):
        strings = list()
        strings.append(f'Nombre: {self.nombre}')
        strings.append(f'Fecha de estreno: {self.fecha_estreno}')
        strings.append(f'Géneros: {self.generos}')
        strings.append(f'ID: {self.id}')
        return "\n".join(strings)
        # Este método debe imprimir la información de esta película.
    def write_df(self, df_mov, overwrite = False):
        pass
        # Este método recibe el dataframe de películas y agrega la película
        # Si el id es None, toma el id más alto del DF y le suma uno. Si el 
        # id ya existe, no la agrega y devuelve un error, salvo que overwrite esté 
        # en True, en cuyo caso, sobreescribe.
    @classmethod
    def create_df_from_csv(cls, filename):
        df_mov = pd.read_csv(filename)
        df_mov["Release Date"] = df_mov["Release Date"].fillna('1-Jan-1900')
        df_mov["Release Date"] = df_mov["Release Date"].apply(lambda x: datetime.strptime(x, '%d-%b-%Y'))
        # Este class method recibe el nombre de un archivo csv, valida su 
        # estructura y devuelve un DataFrame con la información cargada del
        # archivo 'filename'.
        ###
        #Código
        ###
        return df_mov

    @classmethod    
    def get_from_df(cls, df_mov, id=None, nombre = None, anios = None, generos = None):
        df_mod.query('')
        pass
        # Este class method devuelve una lista de objetos 'Pelicula' buscando por:
        # id: id
        # nombre: nombre de la película
        # anios: [desde_año, hasta_año]
        # generos: [generos]
        return lista_peliculas

    def get_stats(cls,df_mov, anios=None, generos=None):
        pass
        # Este class method imprime una serie de estadísticas calculadas sobre
        # los resultados de una consulta al DataFrame df_mov. 
        # Las estadísticas se realizarán sobre las filas que cumplan con los requisitos de:
        # anios: [desde_año, hasta_año]
        # generos: [generos]
        # Las estadísticas son:
        # - Datos película más vieja
        # - Datos película más nueva
        # - Bar plots con la cantidad de películas por año/género.
    def remove_from_df(self, df_mov):
        pass
        # Borra del DataFrame el objeto contenido en esta clase.
        # Para realizar el borrado todas las propiedades del objeto deben coincidir
        # con la entrada en el DF. Caso contrario imprime un error.

In [77]:
import pandas as pd

In [78]:
from datetime import datetime

In [79]:
date = datetime.strptime("23-Apr-1939", '%d-%b-%Y')

In [80]:
peli_1 = Pelicula("Lo que el viento se llevó", date, ["Action", "Adventure"])

In [81]:
peli_1

Nombre: Lo que el viento se llevó
Fecha de estreno: 1939-04-23 00:00:00
Géneros: ['Action', 'Adventure']
ID: None

In [82]:
df_mov = Pelicula.create_df_from_csv("peliculas.csv")

In [83]:
df_mov.query("Action == 1 and Comedy == 1")

,id,Name,Release Date,IMDB URL,unknown,Action,Adventure,Animation,Children's,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
3,4,Get Shorty (1995),1995-01-01,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
16,17,From Dusk Till Dawn (1996),1996-02-05,http://us.imdb.com/M/title-exact?From%20Dusk%2...,0,1,0,0,0,1,...,0,0,1,0,0,0,0,1,0,0
20,21,Muppet Treasure Island (1996),1996-02-16,http://us.imdb.com/M/title-exact?Muppet%20Trea...,0,1,1,0,0,1,...,0,0,0,1,0,0,0,1,0,0
28,29,Batman Forever (1995),1995-01-01,http://us.imdb.com/M/title-exact?Batman%20Fore...,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
72,73,Maverick (1994),1994-01-01,http://us.imdb.com/M/title-exact?Maverick%20(1...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
73,74,Faster Pussycat! Kill! Kill! (1965),1965-01-01,http://us.imdb.com/M/title-exact?Faster%20Puss...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
79,80,Hot Shots! Part Deux (1993),1993-01-01,http://us.imdb.com/M/title-exact?Hot%20Shots!%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
109,110,Operation Dumbo Drop (1995),1995-01-01,http://us.imdb.com/M/title-exact?Operation%20D...,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
172,173,"Princess Bride, The (1987)",1987-01-01,http://us.imdb.com/M/title-exact?Princess%20Br...,0,1,1,0,0,1,...,0,0,0,0,0,1,0,0,0,0
183,184,Army of Darkness (1993),1993-01-01,http://us.imdb.com/M/title-exact?Army%20of%20D...,0,1,1,0,0,1,...,0,0,1,0,0,0,1,0,0,0
185,186,"Blues Brothers, The (1980)",1980-01-01,http://us.imdb.com/M/title-exact?Blues%20Broth...,0,1,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
200,201,Evil Dead II (1987),1987-01-01,http://us.imdb.com/M/title-exact?Evil%20Dead%2...,0,1,1,0,0,1,...,0,0,1,0,0,0,0,0,0,0
230,231,Batman Returns (1992),1992-01-01,http://us.imdb.com/M/title-exact?Batman%20Retu...,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
231,232,Young Guns (1988),1988-01-01,http://us.imdb.com/M/title-exact?Young%20Guns%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
234,235,Mars Attacks! (1996),1996-12-13,http://us.imdb.com/M/title-exact?Mars%20Attack...,0,1,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0
256,257,Men in Black (1997),1997-07-04,http://us.imdb.com/M/title-exact?Men+in+Black+...,0,1,1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
361,362,Blues Brothers 2000 (1998),1998-02-06,http://us.imdb.com/M/title-exact?Blues+Brother...,0,1,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
384,385,True Lies (1994),1994-01-01,http://us.imdb.com/M/title-exact?True%20Lies%2...,0,1,1,0,0,1,...,0,0,0,0,0,1,0,0,0,0
387,388,Beverly Hills Cop III (1994),1994-01-01,http://us.imdb.com/M/title-exact?Beverly%20Hil...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
390,391,Last Action Hero (1993),1993-01-01,http://us.imdb.com/M/title-exact?Last%20Action...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
398,399,"Three Musketeers, The (1993)",1993-01-01,http://us.imdb.com/M/title-exact?Three%20Muske...,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
434,435,Butch Cassidy and the Sundance Kid (1969),1969-01-01,http://us.imdb.com/M/title-exact?Butch%20Cassi...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
455,456,Beverly Hills Ninja (1997),1997-01-17,http://us.imdb.com/M/title-exact?Beverly%20Hil...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
875,876,Money Talks (1997),1997-08-22,http://us.imdb.com/M/title-exact?Money+Talks+(...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
880,881,Money Talks (1997),1997-08-22,http://us.imdb.com/M/title-exact?Money+Talks+(...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1109,1110,Tank Girl (1995),1995-01-01,http://us.imdb.com/M/title-exact?Tank%20Girl%2...,0,1,0,0,0,1,...,0,0,0,1,0,0,1,0,0,0
1137,1138,Best Men (1997),1997-09-01,http://us.imdb.com/M/title-exact/Independence%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1179,1180,I Love Trouble (1994),1994-01-01,http://us.imdb.com/M/title-exact?I%20Love%20Tr...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1180,1181,"Low Down Dirty Shame, A (1994)",1994-01-01,http://us.imdb.com/M/title-exact?Low%20Down%20...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1182,1183,"Cowboy Way, The (1994)",1994-01-01,"http://us.imdb.com/M/title-exact?Cowboy%20Way,...",0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1187,1188,Young Guns II (1990),1990-01-01,http://us.imdb.com/M/title-exact?Young%20Guns%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1483,1484,"Jerky Boys, The (1994)",1994-01-01,"http://us.imdb.com/M/title-exact?Jerky%20Boys,...",0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [95]:
df_mov.loc[(df_mov["Release Date"] > datetime(1995,1,1)) & (df_mov["Release Date"] < datetime(1996,1,1))]

,id,Name,Release Date,IMDB URL,unknown,Action,Adventure,Animation,Children's,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
11,12,"Usual Suspects, The (1995)",1995-08-14,http://us.imdb.com/M/title-exact?Usual%20Suspe...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
12,13,Mighty Aphrodite (1995),1995-10-30,http://us.imdb.com/M/title-exact?Mighty%20Aphr...,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
693,694,Persuasion (1995),1995-09-25,http://us.imdb.com/Title?Persuasion+(1995/I),0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
712,713,Othello (1995),1995-12-18,http://us.imdb.com/M/title-exact?Othello%20(1995),0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682 entries, 0 to 1681
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1682 non-null   int64
 1   Name          1682 non-null   object
 2   Release Date  1681 non-null   object
 3   IMDB URL      1679 non-null   object
 4   unknown       1682 non-null   int64
 5   Action        1682 non-null   int64
 6   Adventure     1682 non-null   int64
 7   Animation     1682 non-null   int64
 8   Children's    1682 non-null   int64
 9   Comedy        1682 non-null   int64
 10  Crime         1682 non-null   int64
 11  Documentary   1682 non-null   int64
 12  Drama         1682 non-null   int64
 13  Fantasy       1682 non-null   int64
 14  Film-Noir     1682 non-null   int64
 15  Horror        1682 non-null   int64
 16  Musical       1682 non-null   int64
 17  Mystery       1682 non-null   int64
 18  Romance       1682 non-null   int64
 19  Sci-Fi        1682 non-null   int64
 20  Thriller      1682 non-null   int64
 21  War           1682 non-null   int64
 22  Western       1682 non-null   int64
dtypes: int64(20), object(3)
memory usage: 302.4+ KB

## Ej DataFrame: Peliculas

A continuación se muestra la estructura del DataFrame de Películas.

In [6]:
import pandas as pd

In [ ]:
df = pd.read_csv("peliculas.csv")

In [ ]:
df.head()

,id,Name,Release Date,IMDB URL,unknown,Action,Adventure,Animation,Children's,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

# Enunciado

Los alumnos deberán implementar las 5 clases correspondientes para la gestión de cada uno de los tipos de datos, los cuales residen cada uno en un DataFrame distinto. El sistema está compuesto por estos 5 DataFrames. La gestión consiste en alta/baja de datos y estadísticas para cada tipo de datos (uno por DataFrame). El prototipo de cada clase deberá ser propuesto por los alumnos basándose en el prototipo de la clase 'Pelicula'.

Adicionalmente a la implementación de las 5 clases, deberán implementar una función para cargar todo el sistema:

~~~
def load_all(file_personas, file_trabajadores, file_usuarios, file_peliculas, file_scores):
    #Código de Carga
    return df_personas, df_trabajadores, df_usuarios, df_peliculas, df_scores
~~~ 

El código de carga debera realizar un chequeo de consistencia entre los DataFrames y eliminar cualquier inconsistencia que se detecte. Por ejemplo un id presente en el DataFrame de usuarios que no está presente en el DataFrame de personas, o un id de película que esté en el DataFrame de Scores, que no esté presente en el DataFrame de películas.  

Deberá implementarse además, otra función para salvar todo el sistema (los 5 DataFrames) en 5 archivos:

~~~
def save_all(df_personas, df_trabajadores, df_usuarios, df_peliculas, df_scores, file_personas="personas.csv", file_trabajadores="trabajadores.csv", file_usuarios="usuarios.csv", file_peliculas="peliculas.csv", file_scores="scores.csv"):
    #Código de Salvado
    return 0 # O -1 si hubo algún error 
~~~ 

Todos los módulos deberán estar en un archivo .py separado (modularizado) conteniendo las implementaciones de las 5 clases y las funciones de carga y salvado.

## Estadísticas

Las estadísticas recomendadas para cada tipo de datos son las siguientes, pueden agregar más si lo desean:

- Películas: Película más vieja, película más nueva, Cantidades de películas por año/género. Cantidad de películas totales.
- Personas: Cantidad de personas por año de nacimiento y Género. Cantidad total de personas.
- Usuarios: Cantidad de usuarios por Ocupación/Año de Nacimiento. Cantidad total de usuarios.
- Trabajadores: Cantidad de trabajadores por puesto. Cantidad total de trabajadores.
- Scores: Puntuación promedio de usuario(s) por año(de película)/género. Puntuación promedio de películas por género de usuario(sexo)/rango etáreo/Ocupación.

# Entregable

El entregable deberá ser un archivo .zip (los alumnos que lo prefieran pueden entregar un link con un repositoriod e github) que contenga:

- helper.py: todos los módulos desarrollados para resolver el TP. Los mismos deberán tener comentarios. Los mismos no deberán ser línea por línea sino explicaciones coloquiales de lo que hará cada fragmento de código.  
- Demostración.ipynb: Notebook documentando la ejecución de cada uno de los módulos y sus resultados.
- Los archivos csv correspondientes a las bases de datos.
Opcionalmente se puede mostrar/entregar una notebook llamada 'EDA.ipynb' que contenga un análisis de los datos de cada uno de los archivos csv que se proveen.

**La entrega será una exposición de 30 minutos máximo durante una tutoría obligatoria en fecha a convenir.**