<img src="https://raw.githubusercontent.com/ITBA-Python/Certificacion-Profesional-Python/main/assets/clase2/Headers%20c%C3%A1talogo_Mesa%20de%20trabajo%201%20copia%2044.jpg" width="800">



# Certificación Avanzada en Deep Learning
# Introducción a Python
# TP Integrador - Grupo 1
#    - Agustina Selser
#    - Luis Pandolfi
#    - Jose Zerda


<img src="https://raw.githubusercontent.com/ITBA-Python/Certificacion-Profesional-Python/main/assets/clase2/LOGOTIPO_sin_fondo_positivo_sin_bajada.png" width="400">

# Implementación

Utilizamos un archivo "helper.py" que nos brindará las siguientes funcionalidades:
* Contiene la funcion "load_all" que permite generar los data_frames a partir de los archivos .csv
* Contiene la funcion "save_dfs" que se encarga de pasar los data_frames con los que trabajamos a archivos .csv

Para trabajar con los data_frames (Consultas/Altas/Bajas), definimos las siguientes clases:
* Personas
* Usuarios
* Trabajador
* Pelicula
* Score

En donde para realizar Consultas/Altas/Bajas instanciamos objetos vinculado a la clase correspondiente y utilizamos los siguientes metodos:
* get_from_df
* write_df
* remove_from_df

## Carga de Datasets

In [2]:
import helper
from persona import Persona
from usuario import Usuario
from trabajador import Trabajador
from pelicula import Pelicula
from score import Score

In [3]:
(df_personas, df_trabajadores, df_usuarios, df_peliculas, df_scores) = helper.load_all("csv_files/personas.csv", "csv_files/trabajadores.csv", "csv_files/usuarios.csv", "csv_files/peliculas.csv", "csv_files/scores.csv")

c:\Users\Jose Zerda\Documents\ITBA-DeepLearning\TP Integrador de Python\compartido\DeepLearning2023_TP1_Gr1\pelicula.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Release Date"] = pd.to_datetime(df["Release Date"], format="%d-%b-%Y")

In [4]:
#df_personas
#df_trabajadores
#df_usuarios
df_peliculas
#df_scores

,id,Name,Release Date,IMDB URL,unknown,Action,Adventure,Animation,Children's,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),1995-01-01,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),1995-01-01,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),1995-01-01,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),1995-01-01,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),1995-01-01,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),1998-02-06,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),1998-02-06,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),1998-01-01,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),1994-01-01,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),1996-03-08,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Consultas, Altas y Bajas

### PELICULAS

#### Buscamos peliculas por nombre, ejemplo "GoldenEye"

In [5]:
lista_respuesta = Pelicula.get_from_df(df_peliculas, nombre='GoldenEye')
lista_respuesta

[Nombre: GoldenEye (1995), Fecha de estreno: 1995-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], ID: 2]

#### Buscamos peliculas por Release Date, ejemplo "1998-03-10 hasta 1998-03-14"

In [6]:
Pelicula.get_from_df(df_peliculas, anios=['1998-03-10', '1998-03-14'])

[Nombre: U.S. Marshalls (1998), Fecha de estreno: 1998-03-10 00:00:00, Genero: [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], ID: 912,
 Nombre: Love and Death on Long Island (1997), Fecha de estreno: 1998-03-10 00:00:00, Genero: [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 913,
 Nombre: Wild Things (1998), Fecha de estreno: 1998-03-14 00:00:00, Genero: [0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0], ID: 914,
 Nombre: Newton Boys, The (1998), Fecha de estreno: 1998-03-14 00:00:00, Genero: [0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 1106,
 Nombre: Everest (1998), Fecha de estreno: 1998-03-10 00:00:00, Genero: [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 1594,
 Nombre: Hush (1998), Fecha de estreno: 1998-03-10 00:00:00, Genero: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], ID: 1624]

#### Buscamos peliculas ejemplo 'Action' y 'Adventure'

In [7]:
Pelicula.get_from_df(df_peliculas, generos=["Children's",'Animation','Comedy'])
#Pelicula.get_from_df(df_peliculas, generos=['action','adventure','sci-fi','war'])

[Nombre: Toy Story (1995), Fecha de estreno: 1995-01-01 00:00:00, Genero: [0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 1,
 Nombre: Aladdin (1992), Fecha de estreno: 1992-01-01 00:00:00, Genero: [0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0], ID: 95,
 Nombre: Aladdin and the King of Thieves (1996), Fecha de estreno: 1996-01-01 00:00:00, Genero: [0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 422,
 Nombre: Space Jam (1996), Fecha de estreno: 1996-11-15 00:00:00, Genero: [0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 820,
 Nombre: Hercules (1997), Fecha de estreno: 1997-06-27 00:00:00, Genero: [0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0], ID: 993,
 Nombre: Goofy Movie, A (1995), Fecha de estreno: 1995-01-01 00:00:00, Genero: [0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0], ID: 1219]

#### ALTA de una nueva pelicula, para eso instanciamos un objeto de la clase Pelicula

In [8]:
nombre = 'Oppenheimer'
fecha_estreno='2023-07-14'
generos=['Drama']
pelicula_nueva1 = Pelicula(nombre, fecha_estreno, generos)
print(pelicula_nueva1)

Nombre: Oppenheimer, Fecha de estreno: 2023-07-14 00:00:00, Genero: ['Drama'], ID: None

In [9]:
nombre = 'Barbie'
fecha_estreno='2023-07-16'
generos=['Comedy','Fantasy']
pelicula_nueva2 = Pelicula(nombre, fecha_estreno, generos)
print(pelicula_nueva2)

Nombre: Barbie, Fecha de estreno: 2023-07-16 00:00:00, Genero: ['Comedy', 'Fantasy'], ID: None

#### Guardamos el objeto pelicula cargada en el dataframe

In [10]:
df_peliculas = pelicula_nueva1.write_df(df_peliculas)
df_peliculas = pelicula_nueva2.write_df(df_peliculas)

In [11]:
df_peliculas

,id,Name,Release Date,IMDB URL,unknown,Action,Adventure,Animation,Children's,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),1995-01-01,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),1995-01-01,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),1995-01-01,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),1995-01-01,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),1995-01-01,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1676,1680,Sliding Doors (1998),1998-01-01,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1677,1681,You So Crazy (1994),1994-01-01,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1678,1682,Scream of Stone (Schrei aus Stein) (1991),1996-03-08,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1679,1683,Oppenheimer,2023-07-14,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1680,1684,Barbie,2023-07-16,NaN,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0

#### BAJA de pelicula presente en data frame peliculas, la identidicamos por el "id"

In [20]:
df_peliculas = Pelicula.remmove_from_df(df_peliculas, df_scores, id=1683)

Exception: La película no coincide con ninguna de las existentes en el dataframe.

In [19]:
df_peliculas

,id,Name,Release Date,IMDB URL,unknown,Action,Adventure,Animation,Children's,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),1995-01-01,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),1995-01-01,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),1995-01-01,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),1995-01-01,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),1995-01-01,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1675,1679,B. Monkey (1998),1998-02-06,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1676,1680,Sliding Doors (1998),1998-01-01,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1677,1681,You So Crazy (1994),1994-01-01,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1678,1682,Scream of Stone (Schrei aus Stein) (1991),1996-03-08,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1680,1684,Barbie,2023-07-16,NaN,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0

### PERSONAS / TRABAJADORES / USUARIOS

In [21]:
df_personas
#df_trabajadores
#df_usuarios

      id          Full Name  year of birth Gender Zip Code
0      1     Robert Stanley           1974      M    85711
1      2     Heather Bossey           1945      F    94043
2      3          Don Davis           1975      M    32067
3      4    Daniel Mccauley           1974      M    43537
4      5  Janice Mccullough           1965      F    15213
..   ...                ...            ...    ...      ...
938  939      Kim Privitera           1972      F    33319
939  940       Louis Quarry           1966      M    02215
940  941     Quinton Reamer           1978      M    97229
941  942       Ruby Bridges           1950      F    78209
942  943     Dannie Cintron           1976      M    77841

[943 rows x 5 columns]

#### Buscamos en personas por Nombre, por ejemplo Dannie Cintron

In [22]:
Persona.get_from_df(df_personas, nombre_completo='Dannie Cintron')

[Nombre: Dannie Cintron, Fecha de nacimiento: 1976, Genero: M, Codigo Postal: 77841, ID: 943]

#### Buscamos en personas por año de nacimiento, por ejemplo 1976

In [23]:
Persona.get_from_df(df_personas, nombre_completo='Robert', anio_nacimiento=[1976, 1978], genero='M')

[Nombre: Robert Johnson, Fecha de nacimiento: 1976, Genero: M, Codigo Postal: 66315, ID: 54,
 Nombre: Robert Thomas, Fecha de nacimiento: 1978, Genero: M, Codigo Postal: 19104, ID: 177,
 Nombre: Frank Roberts, Fecha de nacimiento: 1978, Genero: M, Codigo Postal: 92705, ID: 532,
 Nombre: Robert Cruz, Fecha de nacimiento: 1978, Genero: M, Codigo Postal: 39762, ID: 649,
 Nombre: Robert Platt, Fecha de nacimiento: 1978, Genero: M, Codigo Postal: 55414, ID: 773,
 Nombre: Robert Ware, Fecha de nacimiento: 1976, Genero: M, Codigo Postal: 65203, ID: 870]

#### ALTA de un nuevo trabajador, para eso instanciamos un objeto de la clase Trabajador

In [25]:
trabajador1 = Trabajador(id=943, fecha_alta='2023-07-15',puesto='IT',categoria='A', horario_trabajo='8-17')
print(trabajador1)

ID: 943, Fecha de alta: 2023-07-15 00:00:00, Puesto: IT, Categoria: A, Horario laboral: 8-17

#### Guardamos el objeto trabajador en el dataframe

In [26]:
df_trabajadores = trabajador1.write_df(df_trabajadores, df_personas)

In [27]:
df_trabajadores

     id                    Position Category Working Hours Start Date
0    16                     Analyst        B        9 - 18 1998-03-30
1    31                     Analyst        A        9 - 18 1997-09-25
2   167                     Analyst        B        7 - 16 1997-10-24
3   183                     Analyst        C       20 - 04 1998-01-26
4   298                     Analyst        C        9 - 18 1997-10-18
5   358                     Analyst        A        7 - 16 1998-04-17
6   397                     Analyst        B        7 - 16 1998-02-08
7   470                         CTO        A        7 - 16 1997-12-23
8   501                         CFO        C        7 - 16 1998-01-17
9   598                         CEO        A          8-17 1997-12-06
10  629      Sales Regional Manager        A        9 - 18 1997-11-12
11  665  Marketing Regional Manager        C          8-17 1997-09-22
12  751                  IT Manager        B       20 - 04 1998-01-15
13  803                          IT        C          8-17 1997-11-13
14  872                          IT        C        9 - 18 1997-11-14
15  943                          IT        A          8-17 2023-07-15

#### BAJA del trabajador en data frame correspondiente

In [28]:
df_trabajadores = trabajador1.remove_from_df(df_trabajadores)

In [29]:
df_trabajadores

     id                    Position Category Working Hours Start Date
0    16                     Analyst        B        9 - 18 1998-03-30
1    31                     Analyst        A        9 - 18 1997-09-25
2   167                     Analyst        B        7 - 16 1997-10-24
3   183                     Analyst        C       20 - 04 1998-01-26
4   298                     Analyst        C        9 - 18 1997-10-18
5   358                     Analyst        A        7 - 16 1998-04-17
6   397                     Analyst        B        7 - 16 1998-02-08
7   470                         CTO        A        7 - 16 1997-12-23
8   501                         CFO        C        7 - 16 1998-01-17
9   598                         CEO        A          8-17 1997-12-06
10  629      Sales Regional Manager        A        9 - 18 1997-11-12
11  665  Marketing Regional Manager        C          8-17 1997-09-22
12  751                  IT Manager        B       20 - 04 1998-01-15
13  803                          IT        C          8-17 1997-11-13
14  872                          IT        C        9 - 18 1997-11-14

## Guardado de los data frames a CSV

In [30]:
helper.save_dfs(df_personas, df_trabajadores, df_usuarios, df_peliculas, df_scores)

CSVs guardados exitosamente

0