<img src="https://raw.githubusercontent.com/ITBA-Python/Certificacion-Profesional-Python/main/assets/clase2/Headers%20c%C3%A1talogo_Mesa%20de%20trabajo%201%20copia%2044.jpg" width="800">



# Certificación Avanzada en Deep Learning
# Introducción a Python
# TP Integrador

El objetivo del trabajo es integrar los conocimientos vistos en las primeras clases y dejar preparada una base para realizar algunos trabajos durante el curso de Probabilidad, Estadística y Álgebra en Python.  




<img src="https://raw.githubusercontent.com/ITBA-Python/Certificacion-Profesional-Python/main/assets/clase2/LOGOTIPO_sin_fondo_positivo_sin_bajada.png" width="400">

# Objetivo del TP Integrador

Se deberá armar un sistema sencillo de Alta/Baja de usuarios y trabajadores de un sistema ficticio de streaming de películas.   

Se deberán proveer las siguientes funcionalidades: 

- Alta/Baja de Usuario
- Alta/Baja de Trabajador
- Alta/Baja de Películas
- Alta/Baja de Calificaciones
- Estadísticas por Usuario/Película: Calificación promedio de usuario, Calificación promedio por película.  

# Datos

Los datos serán almacenados en memoria en 5 Data Frames distintos, los cuales contendrán la información vinculada a:

- Personas: Id, Fecha de Nacimiento, Género, Código Postal.
- Usuarios (Personas): Id(Personas), Ocupación, Fecha de Alta.
- Trabajadores (Personas): Id(Personas), Fecha de Alta, Puesto, Categoría, Horario de Trabajo.  
- Películas: Nombre, Año, Género(s), id.  
- Scores: Usuario (Id), Película (Id), Puntuación, Timestamp

Se proveen 5 archivos csv con información para inicializar cada uno de estos 5 DataFrames. 

Los datos fueron generados a partir del dataset provisto en https://grouplens.org/datasets/movielens/100k/ y procesados por la cátedra para mayor facilidad de los alumnos.

# Implementación

Para dar de alta alguna de las entidades mencionadas anteriormente (Persona, Usuario, Trabajador, Película, Score) se deberá instanciar un objeto vinculado a una clase correspondiente (Persona, Usuario, Trabajador, Película, Score) con la información pertinente la entidad. El siguiente es un código de referencia para definir la clase "Pelicula" y a partir del mismo dar de alta o borrar películas:

In [ ]:
class Pelicula:
    def __init__(self, nombre, anio, generos, id = None):
        self.nombre = nombre
        self.anio = anio
        self.generos = generos
        self.id = id
    def __repr__(self):
        pass
        # Este método debe imprimir la información de esta película.
    def write_df(self, df_mov):
        pass
        # Este método recibe el dataframe de películas y agrega la película
        # Si el id es None, toma el id más alto del DF y le suma uno. Si el 
        # id ya existe, no la agrega y devuelve un error.
    def create_df_from_csv(cls, filename):
        pass
        # Este class method recibe el nombre de un archivo csv, valida su 
        # estructura y devuelve un DataFrame con la información cargada del
        # archivo 'filename'.
        ###
        #Código
        ###
        return df_mov
    def get_from_df(cls, df_mov, id=None, nombre = None, anios = None, generos = None):
        pass
        # Este class method devuelve una lista de objetos 'Pelicula' buscando por:
        # id: id
        # nombre: nombre de la película
        # anios: [desde_año, hasta_año]
        # generos: [generos]
        return lista_peliculas
     def get_stats(cls,df_mov, anios=None, generos=None):
        pass
        # Este class method imprime una serie de estadísticas calculadas sobre
        # los resultados de una consulta al DataFrame df_mov. 
        # Las estadísticas se realizarán sobre las filas que cumplan con los requisitos de:
        # anios: [desde_año, hasta_año]
        # generos: [generos]
        # Las estadísticas son:
        # - Datos película más vieja
        # - Datos película más nueva
        # - Bar plots con la cantidad de películas por año/género.
    def remove_from_df(self, df_mov):
        # Borra del DataFrame el objeto contenido en esta clase.
        # Para realizar el borrado todas las propiedades del objeto deben coincidir
        # con la entrada en el DF. Caso contrario imprime un error.

## Ej DataFrame: Peliculas

A continuación se muestra la estructura del DataFrame de Películas.

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("peliculas.csv")

In [4]:
df.head()

,id,Name,Release Date,IMDB URL,unknown,Action,Adventure,Animation,Children's,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

# Enunciado

Los alumnos deberán implementar las 5 clases correspondientes para la gestión de cada uno de los tipos de datos, los cuales residen cada uno en un DataFrame distinto. El sistema está compuesto por estos 5 DataFrames. La gestión consiste en alta/baja de datos y estadísticas para cada tipo de datos (uno por DataFrame). El prototipo de cada clase deberá ser propuesto por los alumnos basándose en el prototipo de la clase 'Pelicula'.

Adicionalmente a la implementación de las 5 clases, deberán implementar una función para cargar todo el sistema:

~~~
def load_all(file_personas, file_trabajadores, file_usuarios, file_peliculas, file_scores):
    #Código de Carga
    return df_personas, df_trabajadores, df_usuarios, df_peliculas, df_scores
~~~ 

El código de carga debera realizar un chequeo de consistencia entre los DataFrames y eliminar cualquier inconsistencia que se detecte. Por ejemplo un id presente en el DataFrame de usuarios que no está presente en el DataFrame de personas, o un id de película que esté en el DataFrame de Scores, que no esté presente en el DataFrame de películas.  

Deberá implementarse además, otra función para salvar todo el sistema (los 5 DataFrames) en 5 archivos:

~~~
def save_all(df_personas, df_trabajadores, df_usuarios, df_peliculas, df_scores, file_personas="personas.csv", file_trabajadores="trabajadores.csv", file_usuarios="usuarios.csv", file_peliculas="peliculas.csv", file_scores="scores.csv"):
    #Código de Salvado
    return 0 # O -1 si hubo algún error 
~~~ 

Todos los módulos deberán estar en un archivo .py separado (modularizado) conteniendo las implementaciones de las 5 clases y las funciones de carga y salvado.

## Estadísticas

Las estadísticas recomendadas para cada tipo de datos son las siguientes, pueden agregar más si lo desean:

- Películas: Película más vieja, película más nueva, Cantidades de películas por año/género. Cantidad de películas totales.
- Personas: Cantidad de personas por año de nacimiento y Género. Cantidad total de personas.
- Usuarios: Cantidad de usuarios por Ocupación/Año de Nacimiento. Cantidad total de usuarios.
- Trabajadores: Cantidad de trabajadores por puesto. Cantidad total de trabajadores.
- Scores: Puntuación promedio de usuario(s) por año(de película)/género. Puntuación promedio de películas por género de usuario(sexo)/rango etáreo/Ocupación.

# Entregable

El entregable deberá ser un archivo .zip (los alumnos que lo prefieran pueden entregar un link con un repositoriod e github) que contenga:

- helper.py: todos los módulos desarrollados para resolver el TP. Los mismos deberán tener comentarios. Los mismos no deberán ser línea por línea sino explicaciones coloquiales de lo que hará cada fragmento de código.  
- Demostración.ipynb: Notebook documentando la ejecución de cada uno de los módulos y sus resultados.
- Los archivos csv correspondientes a las bases de datos.
Opcionalmente se puede mostrar/entregar una notebook llamada 'EDA.ipynb' que contenga un análisis de los datos de cada uno de los archivos csv que se proveen.

**La entrega será una exposición de 30 minutos máximo durante una tutoría obligatoria en fecha a convenir.**