<img src="https://raw.githubusercontent.com/ITBA-Python/Certificacion-Profesional-Python/main/assets/clase2/Headers%20c%C3%A1talogo_Mesa%20de%20trabajo%201%20copia%2044.jpg" width="800">



# Certificación Avanzada en Deep Learning
# Introducción a Python
# TP Integrador - Grupo 1
#    - Agustina Selser
#    - Luis Pandolfi
#    - Jose Zerda


<img src="https://raw.githubusercontent.com/ITBA-Python/Certificacion-Profesional-Python/main/assets/clase2/LOGOTIPO_sin_fondo_positivo_sin_bajada.png" width="400">

# Implementación

## Carga de Datasets

In [1]:
import helper
from persona import Persona
from usuario import Usuario
from trabajador import Trabajador
from pelicula import Pelicula
from score import Score

In [2]:
(df_personas, df_trabajadores, df_usuarios, df_peliculas, df_scores) = helper.load_all("csv_files/personas.csv", "csv_files/trabajadores.csv", "csv_files/usuarios.csv", "csv_files/peliculas.csv", "csv_files/scores.csv")

c:\Users\Jose Zerda\Documents\ITBA-DeepLearning\TP Integrador de Python\compartido\DeepLearning2023_TP1_Gr1\pelicula.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Release Date"] = pd.to_datetime(df["Release Date"], format="%d-%b-%Y")

## Parte 1 - Consultas, Altas y Bajas

### PELICULAS

#### Buscamos por nombre, ejemplo "GoldenEye"

In [12]:
Pelicula.get_from_df(df_peliculas, nombre='GoldenEye')

[Nombre: GoldenEye (1995), Fecha de estreno: 1995-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], ID: 2]

#### Por Release date, ejemplo "1998-03-10 hasta 1998-03-14"

In [13]:
Pelicula.get_from_df(df_peliculas, anios=['1998-03-10', '1998-03-14'])

[Nombre: U.S. Marshalls (1998), Fecha de estreno: 1998-03-10 00:00:00, Genero: [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], ID: 912,
 Nombre: Love and Death on Long Island (1997), Fecha de estreno: 1998-03-10 00:00:00, Genero: [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 913,
 Nombre: Wild Things (1998), Fecha de estreno: 1998-03-14 00:00:00, Genero: [0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0], ID: 914,
 Nombre: Newton Boys, The (1998), Fecha de estreno: 1998-03-14 00:00:00, Genero: [0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 1106,
 Nombre: Everest (1998), Fecha de estreno: 1998-03-10 00:00:00, Genero: [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 1594,
 Nombre: Hush (1998), Fecha de estreno: 1998-03-10 00:00:00, Genero: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], ID: 1624]

#### Por genero, por ejemplo 'Action' y 'Adventure'

In [14]:
Pelicula.get_from_df(df_peliculas, generos=['action','adventure'])

[Nombre: GoldenEye (1995), Fecha de estreno: 1995-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], ID: 2,
 Nombre: Muppet Treasure Island (1996), Fecha de estreno: 1996-02-16 00:00:00, Genero: [0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0], ID: 21,
 Nombre: Rumble in the Bronx (1995), Fecha de estreno: 1996-02-23 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 24,
 Nombre: Batman Forever (1995), Fecha de estreno: 1995-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 29,
 Nombre: Star Wars (1977), Fecha de estreno: 1977-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0], ID: 50,
 Nombre: Stargate (1994), Fecha de estreno: 1994-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0], ID: 62,
 Nombre: Jurassic Park (1993), Fecha de estreno: 1993-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0], ID: 82,
 Nombre: Heavy Metal (1981), Fecha de estreno: 1981-03-08 00:00:00, Genero: [0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0], ID: 101,
 Nombre: Operation Dumbo Drop (1995), Fecha de estreno: 1995-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0], ID: 110,
 Nombre: Rock, The (1996), Fecha de estreno: 1996-06-07 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], ID: 117,
 Nombre: Twister (1996), Fecha de estreno: 1996-05-10 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], ID: 118,
 Nombre: Ghost and the Darkness, The (1996), Fecha de estreno: 1996-10-11 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 148,
 Nombre: Abyss, The (1989), Fecha de estreno: 1989-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0], ID: 164,
 Nombre: Empire Strikes Back, The (1980), Fecha de estreno: 1980-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0], ID: 172,
 Nombre: Princess Bride, The (1987), Fecha de estreno: 1987-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0], ID: 173,
 Nombre: Raiders of the Lost Ark (1981), Fecha de estreno: 1981-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 174,
 Nombre: Return of the Jedi (1983), Fecha de estreno: 1997-03-14 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0], ID: 181,
 Nombre: Army of Darkness (1993), Fecha de estreno: 1993-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0], ID: 184,
 Nombre: Evil Dead II (1987), Fecha de estreno: 1987-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0], ID: 201,
 Nombre: Indiana Jones and the Last Crusade (1989), Fecha de estreno: 1989-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 210,
 Nombre: Star Trek: First Contact (1996), Fecha de estreno: 1996-11-22 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0], ID: 222,
 Nombre: Star Trek VI: The Undiscovered Country (1991), Fecha de estreno: 1991-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0], ID: 227,
 Nombre: Star Trek: The Wrath of Khan (1982), Fecha de estreno: 1982-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0], ID: 228,
 Nombre: Star Trek III: The Search for Spock (1984), Fecha de estreno: 1984-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0], ID: 229,
 Nombre: Star Trek IV: The Voyage Home (1986), Fecha de estreno: 1986-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0], ID: 230,
 Nombre: Batman Returns (1992), Fecha de estreno: 1992-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 231,
 Nombre: Turbo: A Power Rangers Movie (1997), Fecha de estreno: 1997-03-28 00:00:00, Genero: [0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 247,
 Nombre: Lost World: Jurassic Park, The (1997), Fecha de estreno: 1997-05-23 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0], ID: 252,
 Nombre: Batman & Robin (1997), Fecha de estreno: 1997-06-20 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 254,
 Nombre: Men in Black (1997), Fecha de estreno: 1997-07-04 00:00:00, Genero: [0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0], ID: 257,
 Nombre: Kull the Conqueror (1997), Fecha de estreno: 1997-08-29 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 266,
 Nombre: Starship Troopers (1997), Fecha de estreno: 1997-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0], ID: 271,
 Nombre: Spawn (1997), Fecha de estreno: 1997-08-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0], ID: 358,
 Nombre: Judge Dredd (1995), Fecha de estreno: 1995-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0], ID: 373,
 Nombre: Star Trek: Generations (1994), Fecha de estreno: 1994-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0], ID: 380,
 Nombre: True Lies (1994), Fecha de estreno: 1994-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0], ID: 385,
 Nombre: Super Mario Bros. (1993), Fecha de estreno: 1993-01-01 00:00:00, Genero: [0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0], ID: 398,
 Nombre: Three Musketeers, The (1993), Fecha de estreno: 1993-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 399,
 Nombre: Batman (1989), Fecha de estreno: 1989-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 403,
 Nombre: Mission: Impossible (1996), Fecha de estreno: 1996-05-22 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0], ID: 405,
 Nombre: Highlander (1986), Fecha de estreno: 1986-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 431,
 Nombre: Star Trek: The Motion Picture (1979), Fecha de estreno: 1979-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0], ID: 449,
 Nombre: Star Trek V: The Final Frontier (1989), Fecha de estreno: 1989-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0], ID: 450,
 Nombre: Dragonheart (1996), Fecha de estreno: 1996-05-31 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 472,
 Nombre: Adventures of Robin Hood, The (1938), Fecha de estreno: 1938-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 491,
 Nombre: African Queen, The (1951), Fecha de estreno: 1951-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0], ID: 498,
 Nombre: Ben-Hur (1959), Fecha de estreno: 1959-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 526,
 Nombre: Mortal Kombat (1995), Fecha de estreno: 1995-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 541,
 Nombre: Waterworld (1995), Fecha de estreno: 1995-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 554,
 Nombre: Quick and the Dead, The (1995), Fecha de estreno: 1995-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1], ID: 562,
 Nombre: Clear and Present Danger (1994), Fecha de estreno: 1994-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], ID: 566,
 Nombre: Cliffhanger (1993), Fecha de estreno: 1993-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 576,
 Nombre: Escape from New York (1981), Fecha de estreno: 1981-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0], ID: 636,
 Nombre: Conan the Barbarian (1981), Fecha de estreno: 1981-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 679,
 Nombre: Kull the Conqueror (1997), Fecha de estreno: 1997-08-29 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 680,
 Nombre: First Knight (1995), Fecha de estreno: 1995-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0], ID: 720,
 Nombre: Jumanji (1995), Fecha de estreno: 1995-01-01 00:00:00, Genero: [0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0], ID: 755,
 Nombre: Congo (1995), Fecha de estreno: 1995-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0], ID: 769,
 Nombre: Hard Target (1993), Fecha de estreno: 1993-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], ID: 802,
 Nombre: Daylight (1996), Fecha de estreno: 1996-12-06 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], ID: 827,
 Nombre: Fled (1996), Fecha de estreno: 1996-07-19 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 829,
 Nombre: Escape from L.A. (1996), Fecha de estreno: 1996-08-09 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0], ID: 831,
 Nombre: Mortal Kombat: Annihilation (1997), Fecha de estreno: 1997-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 890,
 Nombre: Time Tracers (1995), Fecha de estreno: 1995-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0], ID: 897,
 Nombre: Chain Reaction (1996), Fecha de estreno: 1996-07-31 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], ID: 930,
 Nombre: Maximum Risk (1996), Fecha de estreno: 1996-09-13 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], ID: 982,
 Nombre: Anaconda (1997), Fecha de estreno: 1997-04-11 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], ID: 1013,
 Nombre: Con Air (1997), Fecha de estreno: 1997-06-06 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], ID: 1016,
 Nombre: Quest, The (1996), Fecha de estreno: 1996-04-26 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 1034,
 Nombre: Pagemaster, The (1994), Fecha de estreno: 1994-01-01 00:00:00, Genero: [0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 1076,
 Nombre: Firestorm (1998), Fecha de estreno: 1998-01-09 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], ID: 1105,
 Nombre: Cutthroat Island (1995), Fecha de estreno: 1995-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0], ID: 1239,
 Nombre: Surviving the Game (1994), Fecha de estreno: 1994-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], ID: 1314,
 Nombre: Good Man in Africa, A (1994), Fecha de estreno: 1994-01-01 00:00:00, Genero: [0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 1523,
 Nombre: Warriors of Virtue (1997), Fecha de estreno: 1997-05-02 00:00:00, Genero: [0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0], ID: 1615]

#### ALTA de una nueva pelicula

In [15]:
pelicula_nueva = Pelicula(nombre='Oppenheimer',fecha_estreno='2023-07-14',generos=['Drama'])

### Guardamos el objeto pelicula cargada en el dataframe

In [16]:
pelicula_nueva.write_df(df_peliculas)

,id,Name,Release Date,IMDB URL,unknown,Action,Adventure,Animation,Children's,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),1995-01-01,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),1995-01-01,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),1995-01-01,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),1995-01-01,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),1995-01-01,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1675,1679,B. Monkey (1998),1998-02-06,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1676,1680,Sliding Doors (1998),1998-01-01,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1677,1681,You So Crazy (1994),1994-01-01,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1678,1682,Scream of Stone (Schrei aus Stein) (1991),1996-03-08,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1679,1683,Oppenheimer,2023-07-14,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### BAJA de una nueva pelicula  *** REVISAR

In [18]:
pelicula_nueva.remove_from_df(df_peliculas, df_scores)

TypeError: Invalid comparison between dtype=datetime64[ns] and str

# Enunciado

Los alumnos deberán implementar las 5 clases correspondientes para la gestión de cada uno de los tipos de datos, los cuales residen cada uno en un DataFrame distinto. El sistema está compuesto por estos 5 DataFrames. La gestión consiste en alta/baja de datos y estadísticas para cada tipo de datos (uno por DataFrame). El prototipo de cada clase deberá ser propuesto por los alumnos basándose en el prototipo de la clase 'Pelicula'.

Adicionalmente a la implementación de las 5 clases, deberán implementar una función para cargar todo el sistema:

~~~
def load_all(file_personas, file_trabajadores, file_usuarios, file_peliculas, file_scores):
    #Código de Carga
    return df_personas, df_trabajadores, df_usuarios, df_peliculas, df_scores
~~~ 

El código de carga debera realizar un chequeo de consistencia entre los DataFrames y eliminar cualquier inconsistencia que se detecte. Por ejemplo un id presente en el DataFrame de usuarios que no está presente en el DataFrame de personas, o un id de película que esté en el DataFrame de Scores, que no esté presente en el DataFrame de películas.  

Deberá implementarse además, otra función para salvar todo el sistema (los 5 DataFrames) en 5 archivos:

~~~
def save_all(df_personas, df_trabajadores, df_usuarios, df_peliculas, df_scores, file_personas="personas.csv", file_trabajadores="trabajadores.csv", file_usuarios="usuarios.csv", file_peliculas="peliculas.csv", file_scores="scores.csv"):
    #Código de Salvado
    return 0 # O -1 si hubo algún error 
~~~ 

Todos los módulos deberán estar en un archivo .py separado (modularizado) conteniendo las implementaciones de las 5 clases y las funciones de carga y salvado.

### PELICULAS

### PELICULAS

## Estadísticas

Las estadísticas recomendadas para cada tipo de datos son las siguientes, pueden agregar más si lo desean:

- Películas: Película más vieja, película más nueva, Cantidades de películas por año/género. Cantidad de películas totales.
- Personas: Cantidad de personas por año de nacimiento y Género. Cantidad total de personas.
- Usuarios: Cantidad de usuarios por Ocupación/Año de Nacimiento. Cantidad total de usuarios.
- Trabajadores: Cantidad de trabajadores por puesto. Cantidad total de trabajadores.
- Scores: Puntuación promedio de usuario(s) por año(de película)/género. Puntuación promedio de películas por género de usuario(sexo)/rango etáreo/Ocupación.

# Entregable

El entregable deberá ser un archivo .zip (los alumnos que lo prefieran pueden entregar un link con un repositoriod e github) que contenga:

- helper.py: todos los módulos desarrollados para resolver el TP. Los mismos deberán tener comentarios. Los mismos no deberán ser línea por línea sino explicaciones coloquiales de lo que hará cada fragmento de código.  
- Demostración.ipynb: Notebook documentando la ejecución de cada uno de los módulos y sus resultados.
- Los archivos csv correspondientes a las bases de datos.
Opcionalmente se puede mostrar/entregar una notebook llamada 'EDA.ipynb' que contenga un análisis de los datos de cada uno de los archivos csv que se proveen.

**La entrega será una exposición de 30 minutos máximo durante una tutoría obligatoria en fecha a convenir.**